<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="demo.css">
    <script src="vue.js"></script>
    <title>VueJs</title>
</head>
<body>
    <div id="app">
        <input type="text" @input=changeTitle>
        <p> {{ title }} - <a :href="link">Google</a></p>
        <p> {{ sayHello() }} - <a :href="link">Google</a></p>
        <p v-html="anotherLink"></p>
        <button @click="increase">Increase</button>
        <button @click="decrease">Decrease</button>
        <p>{{ counter }}</p>
        <p>Counter: {{ counter  > 10? ' Greater Than 10' : 'Less than ' }}</p>
        <p>Result: {{ result }} | {{ output }} </p>
        <br />
        <button @click="increaseVal(2)">Click</button>
        <p>{{ counter2 }}</p>
        <p v-on:mousemove="updateCoordinates">Coordinate: {{ x }} / {{ y }} - <span v-on:mousemove.stop>Stop</span></p>
        <div class="demo" :style="{backgroundColor:color}" ></div>
        <div class="demo" :style="myStyle"></div>
        <div class="demo" :style="[myStyle, {height: width + 'px'}]"></div>
        <div class="demo"></div>
        <hr>
        <input type="text" v-model="color" placeholder="Enter Color">
        <input type="text" v-model="width" placeholder="Enter width">
    </div>
    
</body>
<script>
    new Vue({
        el: '#app',
        data: {
            title: "Hello World",
            title2: "Welcome!!",
            link: "http://google.com",
            anotherLink: '<a href="http://google.com">Google</a>',
            counter: 0,
            counter2: 0,
            x: 0,
            y: 0,
            result: '',
            color: 'blue',
            width: 100
        },
        computed: {
            output: function() {
                return this.counter > 5? 'Greater than 5': 'Less than 5'
            },
            myStyle: function() {
                return {
                    backgroundColor: this.color,
                    width: this.width + 'px'
                };
            }

        },
        //watches counter and returns it to zero after 2 secs
        //watch is used to execute code upon data changes
        watch: {
            counter: function(value) {
                var v = this;
                setTimeout(function() {
                    v.counter = 0;
                }, 2000);
            }

        },
        methods: {
            changeTitle: function(event) {
                this.title = event.target.value;
            },
            sayHello: function() {
                return this.title2;
            },
            increase: function() {
                this.counter++;
                this.result = this.counter > 5? 'Greater than 5': 'Less than 5'
            },
            decrease: function() {
                this.counter--;
                this.result = this.counter > 5? 'Greater than 5': 'Less than 5'
            },
            increaseVal: function(step) {
                this.counter2 += step;
            },
            updateCoordinates: function(event) {
                this.x = event.clientX;
                this.y = event.clientY;
            },
            change: function() {
                this.color = false;
            }
        }
    });
</script>
</html>